.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#headings_carousel {
  margin-top: 20px;
}

.dropdown-toggle::after {
  display: none !important; 
}

#column_left {
  text-align: left;
}

#column_right {
  text-align: right;
}

#column_center {
  text-align: center;
}

#singele_line {
  background-color: #282c34;
  height: 10px;
}

#thin_singele_line {
  background-color: #282c34;
  height: 5px;
  margin-top: 10px;
}

#button_sub_title_blue {
  color: blue;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}

#button_sub_date {
  color: rgb(17, 17, 17);
  font-size: 14px;
  font-weight: 800;

}

#title_in_card {
  color: #1d1d1e;
  text-decoration: none;
}

#button_low_top_margin {
  border-radius: 0px;
  margin-top: -13px;
}

#percentage_green_style {
  color: rgb(5, 223, 12);
  text-shadow: 1px 1px  white;
}

#number_white_style {
  color: white;
  text-shadow: 2px 2px  black;
}

#percentage_red_style {
  color: red;
  text-shadow: 1px 1px  white;
}

#uklrain_flag_image {
  margin-top: 23px;
}

#button_support_ukrain {
  margin-top: 33px;
  border-radius: 0px;
  margin-left: 15px;
}

#subscribe_title_in_card {
  color: #3c3c3f;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
}

#chart_container {
  border-radius: 10px;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #3c3c3f;
}

.admin_container {
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 10px;
}

#vartical_nav {
  margin-top: -10px;
  background-color: #000000;
  margin-bottom: -70px;
}

#vertical_nav_button {
  border-radius: 0px;
  margin-top: -13px;
  margin-left: 5px;
  border-radius: 10px;
}